<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="basePath">D:\var\log</Property>
    </Properties>
    <Appenders>
        <File name="FILE" fileName="${basePath}/bank-client-app.log" append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | %F:%L - %m%n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="FILE" />
        </Root>
    </Loggers>
</Configuration>